/* Estilo para o menu de tela cheia */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Cor de fundo branca */
    z-index: 1000;
    padding-top: 60px;
    display: none; /* Inicialmente escondido */
    transition: transform 0.3s ease; /* Animação suave */
    transform: translateX(-100%); /* Inicia fora da tela */
}

/* Quando o menu estiver aberto */
#sidebar.open {
    display: block;
    transform: translateX(0); /* Mostra o menu */
}

/* Estilo do botão de fechar */
#sidebar .close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 50px;
    cursor: pointer;
    color: #333;
}

/* Estilo da lista de navegação */
#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Estilo dos links de navegação */
#sidebar ul li {
    padding: 15px 0;
}

#sidebar ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #000;
    transition: color 0.3s ease;
}

#sidebar ul li a:hover {
    color: #575757; /* Cor ao passar o mouse por cima */
}